/*
	@ Harris Christiansen (Harris@HarrisChristiansen.com)
	2016-04-25
	Project: Members Tracking Portal
	Members Tracking Portal Stylesheet
*/

.mainContentContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
}

body {
	font-family: 'Lato';
	background-image: url('/images/white_wall_hash.png');
}

/* ------------------------ Title Page ------------------------- */

.titleImage {
	position: relative;
	width: 100%;
	max-width: 100px;
	margin: 0 auto;
	display: inline-block;
	margin-top: -20px;
	margin-bottom: 50px;
}
.titleWords {
	padding-top: 100px;
}
.titlePage {
	padding: 40px 15px;
	text-align: center;
	font-weight: 900;
}
.titlePageTitle {
	font-size: 92px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 4px;
	color: #fbbe0a;
	margin-bottom: 20px;
}
.titlePageSub {
	color: #BEBEBE;
	font-size: 24px;
	margin-bottom: -32px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.titlePageText {
	color: #888888;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.titlePageLink {
	font-size: 18px;
	color: #333333;
	text-decoration: none;
	font-weight: 400;
	background-color: #BEBEBE;
	padding: 10px 14px;
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.1s ease;
}
.titlePageLink:hover {
	text-decoration: none;
	color: white;
	background-color: #345A6C;
}

/* ------------------------ Tables ------------------------- */

.table-clickable tbody tr:hover {
	cursor: pointer;
}

/* ------------------------ End ------------------------- */
